.item {
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 0 10px;
  padding-top: 60px;
}

.desc {
  font-weight: bold;
}

/* Large desktop */
@media (min-width: 1200px) {
  .item-content {
    padding-top: 45px;
  }
  .item {
    height: 270px;
    margin-top: 30px;
  }
  .main-testimoni {
    margin-top: 70px;
  }
}

@media (min-width: 979px) and (max-width: 1200px) {
  .item-content {
    padding-top: 60px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

@media (max-width: 992px) {
  .owl-theme {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rating div {
    justify-content: center;
  }
  .user {
    text-align: center;
  }
  .avatar {
    margin-bottom: 16px;
  }
  .rating .star {
    margin-bottom: 16px;
    align-items: center;
  }
  .item-content {
    padding-top: 10px;
  }
  .star-content {
    margin-top: 20px;
  }
  .item {
    height: 400px;
    margin-top: 10px;
  }
  .main-testimoni {
    margin-top: 150px;
  }
  .main-testimoni p,
  .main-testimoni h4 {
    text-align: center;
  }
}
