.main-testimoni h4,
.main-testimoni p {
  text-align: center;
}

.main-testimoni-carousel {
  padding-top: 20px;
  border: 50;
}

.item {
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 619px;
  margin-right: 32px;
  margin-bottom: 30px;
  cursor: grab;
}

.main-testimoni-deks {
  padding-top: 69px;
  padding-left: 49px;
  padding-bottom: 69px;
  padding-right: 46px;
}

.main-testimoni-images {
  margin-top: 20px;
  padding-bottom: 20px;
}

.main-testimoni-deks p {
  text-align: left;
}

.main-testimoni-name p {
  font-weight: bold;
  margin-top: -5px;
  padding-left: 4px;
}
