/* Body -> font */

/* css global */
/* header */
/* header {
  background-color: #f1f3ff;
  padding-top: 24px;
  position: relative;
} */

/* Header Banner and img */

/* PupUP */
.modal-body p {
  font-weight: bold;
}
.modal-body input {
  margin-bottom: 30px;
}

#search {
  margin-top: -20px !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: white !important;
  position: relative;
  z-index: 1;
}

#search label {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
  padding-bottom: 5px;
}

#search input,
#search select {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #8a8a8a;
}

#search button {
  margin-top: 18px;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.0002;
}

/* Services */
.main-services {
  margin-bottom: 150px;
  /* height: 428px; */
}

/* .ul-main li {
  /* list-style-image: url("../images/icons/icon-true.svg"); */
/* margin: 0; 
} */

/* .ul-main p {
  padding-top: 18px;
  padding-left: 10px;
} */

/* Why us */
.main-whyus {
  padding-bottom: 100px;
}

/* .main-whyus h4, */
.main-whyus h5 {
  margin-bottom: 16px;
  padding-top: 16px;
}

/* .main-whyus-cards {
  padding-top: 30px;
} */

.main-whyus-items {
  margin-top: 20px;
}

/* .card {
  width: 18rem;
} */

/* Testimoni */
/* .main-testimoni {
  /* margin-bottom: 104px;
} */

/* CTA Banner */
/* .main-banner {
  /* background-color: #0d28a6; */
/* padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 13px;
  height: 326px; 
} */

.btn-primary {
  background-color: #0d28a6;
}

.btn-primary:hover {
  background-color: #0d28a6;
}

.main-faq {
  margin-top: 100px;
}

/* hover */
.button-global:hover,
.header-navbar-logo:hover,
#search:target,
#search:target {
  display: block;
  opacity: 2;
}

.input-group-text {
  background-color: white;
}

.search-card button:hover {
  transform: none;
}
