/* footer */
footer {
  margin-bottom: 40px;
  margin-top: -50px;
}

.footer-nav p {
  font-weight: bold;
  color: black;
}

.footer-nav a {
  text-decoration: none;
}

.connect-icons img:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
}

.footer-nav p:hover {
  transform: scale(1.1);
}

.copyright-logo {
  background: #0d28a6;
  width: 100px;
  height: 34px;
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 1px;
  display: block;
  text-decoration: none;
}

.copyright-logo:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.2);
  color: white;
}

/* Large desktop */
@media (min-width: 1200px) {
  .copyright-logo {
    margin-left: 190px;
  }
  .title-icons,
  .connect-icons {
    margin-left: 100px;
  }
  .copyright-title {
    text-align: right;
  }
  .footer-nav {
    text-align: center;
  }
}

@media (min-width: 979px) and (max-width: 1200px) {
  .footer-nav {
    text-align: center;
  }
  /* .copyright-logo {
    margin-left: 10px;
  } */
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .footer-nav {
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .connect-icons {
    margin-right: 200px;
  }
  .copyright-logo {
    margin-bottom: 40px;
  }
  .copyright-title {
    margin-top: 40px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .copyright-logo {
    margin-left: 148px;
    margin-bottom: 40px;
  }
  .copyright-title {
    text-align: center;
    margin-top: 40px;
  }
  .connect-icons {
    margin-right: 50px;
  }
}
