body {
  font-family: Helvetica;
  color: black;
  background-color: rebeccapurple;
  font-style: normal;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
